h1, p {
  font-family: Lato;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


#mainContain {
	background:Red;
	color: rgba(239, 243, 245, 0.973);
}

.txtBox{

  margin-left: 85px;
    border-radius: 5px;
}

/* Style the counter cards */
.empty {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* padding: 16px; */
    text-align: left;
    background-color:darkslateblue;
    margin: 5px;
    height:200px;
    width: 175px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.first-header {
   
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-family: Arial, Helvetica, sans-serif;
    
}

.inside-header {
   
    margin-bottom: 0;
    background-color:slateblue;
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-family: Arial, Helvetica, sans-serif;
      
    
}

.region-header {
   
    margin-bottom: 0;
    background-color:royalblue(78, 15, 138);
    border-bottom: 1px solid rgba(139, 68, 206, 0.986);
    font-family: Arial, Helvetica, sans-serif;
    
}